/* GROCERIES SECTION*/

.groceries {
    background-color: #fbe3d3;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

/* groceries header*/

.groceries header {
    margin-top: 5vh;
    padding-left: 10vh;
    padding-right: 10vh;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: absolute;
    width: 100%;

}

.groceries header .logo {
    height: 80px;
}

.groceries header .header-icons {
    display: flex;

}

.groceries header .zigzag-icons {
    padding-top: 4vh;

}

.groceries header .zigzag-icons img {
    padding-left: 1.5vh;
    height: 30px;

}

.groceries header .header-items li {
    list-style: none;
    font-size: 17px;
    display: inline-block;
    padding-top: 4vh;
    padding-left: 3vh;
    font-family: 'Raleway';
    font-weight: bold;
    color: #e06331;
}

/* groceries orange zigzag*/

.groceries .zigzag {
    height: 100%;
    right: 0;
    position: absolute;
}

.groceries .zigzag img {
    height: 100%;
}

/* groceries orange content*/

.groceries .container {
    padding-left: 14vh;
    padding-right: 14vh;
    height: 95%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    position: absolute;
}

.groceries .container .content {
    font-family: 'Raleway';
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vh;
}

.groceries .container .content h2 {
    color: #e06331;
    font-size: 130px;
}

.groceries .container .content p {
    margin-top: 1vh;
    text-align: center;
    max-width: 75%;
    font-size: 17px;
}

.groceries .container .content .buttons-container {
    margin-top: 2vh;
}

.groceries .container .content .buttons-container .shop-now-btn {
    font-family: 'Raleway';
    font-size: 17px;
    padding: 8px 30px;
    margin: 15px 25px;
    border-radius: 20px;
    border: 3px solid black;
    color: #fbe3d3;
    background-color: #e06331;
    font-weight: bold;
    cursor: pointer;
}

.groceries .container .content .buttons-container .learn-more-btn {
    font-family: 'Raleway';
    font-size: 17px;
    padding: 8px 30px;
    margin: 15px 10px;
    border-radius: 20px;
    border: 3px solid black;
    color: #e06331;
    background-color: #fbe3d3;
    font-weight: bold;
    cursor: pointer;
}

.groceries .container .phone-screen img {
    padding-top: 5vh;
    padding-left: 8vh;
    height: 65vh;
}

.groceries .container .vertical-text {
    writing-mode: vertical-lr;
    color: #fbe3d3;
    font-family: 'Raleway';
    font-size: 25px;
    font-weight: bold;
}

/*random fruit and dots on the groceries page*/

.groceries .bottom-strawberry img {
    margin-top: 35vh;
}

.groceries .top-strawberry img {
    margin-left: 120vh;
}

.groceries .top-dots img {
    margin-left: -2vh;
    margin-top: 4vh;
}

.groceries .down-arrow {
    z-index: 1;
    position: absolute;
    margin-top: 50vh;
    margin-left: 63vh;
}

.groceries .bottom-pear {
    z-index: 1;
    position: absolute;
    margin-top: 51vh;
    margin-left: 95vh;
}

.groceries .bottom-dots {
    margin-top: 45vh;
    right: 0;
    position: absolute;
    margin-bottom: -3vh;
    margin-right: -1vh;
}